// Many thanks to https://blog.christophersmart.com/2014/01/06/policykit-javascript-rules-with-catchall

polkit.addRule(function(action, subject) {
	if (
	   action.id.indexOf("org.opensuse.cupspkhelper.mechanism") == 0
	   && subject.isInGroup("sudo") 
	   && subject.active
	) {
		return polkit.Result.YES;
	}
});
