[Unit]

Description=Enable CPU "performance" governor

[Service]

Type=oneshot
ExecStart=/usr/bin/cpupower frequency-set -g performance

[Install]

WantedBy=multi-user.target
